{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}" media="screen" />
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>

    <script src="{% static 'js/jquery.keyboard.js' %}"></script>
    <script src="{% static 'js/jquery.keyboard.russsian.js' %}"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block container %}
    <div class="container">
        <form role="form" class="form-signin" method="post" action="">
            {% csrf_token %}
            <h4 class="form-signin-heading">Для работы автомата требуеться его авторизация в системе</h4>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" data-alert>
                    <a class="close" href="">×</a>
                    {% for err in form.non_field_errors %}
                        {{ err }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-warning{% endif %}">
                    {% if field.errors %}
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.errors }}</label>
                    {% endif %}
                    {% render_field field class="form-control" placeholder=field.label %}
                </div>

                <script>
                $('#{{ field.auto_id }}').keyboard({
                            layout: "russian-qwerty",
                            autoAccept: true,
                            usePreview: false,
                            position: {
                                of : $(window),
                                my: 'center bottom',
                                at: 'center bottom',
                                at2: 'center bottom'
                            },
                            css: {
                                input: '',
                                container: '',
                                buttonDefault: '',
                                buttonHover: '',
                                buttonAction: ''
                            }
                        });
                </script>
            {% endfor %}
            <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
        </form>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
