{% load staticfiles %}
{% load layerslider_widgets %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen" />


    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>

    <script src="{% static 'js/jquery.keyboard.js' %}"></script>
    <script src="{% static 'js/jquery.keyboard.russsian.js' %}"></script>

    {% layerslider_scripts_tag %}
</head>
<body>

{% if request.user.advert_slider %}
    {% layerslider_tag request.user.advert_slider.pk %}
{% endif %}
</body>
</html>