{% load staticfiles %}
{% load main_widgets %}

{% for album in albums %}
    <div class="col-md-4">
        <div class="thumbnail" onclick="return load_music_list('{% url 'music_box:album_detail' %}?artist={{ album.artist }}&album={{ album.name }}')">
            <img class="preview" src="{% if album.preview %}{{ album.preview }}{% else %}{% static 'img/banner.png' %}{% endif %}" alt="{{ album.name }}" />
            <div class="cost"><span>Стоимость {{ request.user.price }} р.</span></div>
            <div class="caption">
                <div class="caption-line">
                    {{ album.name }}
                </div>
                <div class="caption-line text-muted">
                    {{ album.artist }}
                </div>
            </div>

        </div>
    </div>
{% endfor %}
<div class="clearfix"></div>
<ul class="pager">
    {% if albums.has_previous %}
        <li class="previous"><a href="{% get_params page=albums.previous_page_number %}" onclick="return load_music_list(this.href);">&larr; Назад</a></li>
    {% endif %}

    {% if albums.has_next %}
        <li class="next"><a href="{% get_params page=albums.next_page_number %}" onclick="return load_music_list(this.href);">Вперёд &rarr;</a></li>
    {% endif %}
</ul>