{% load staticfiles %}
{% load main_widgets %}

{% for artist in artists %}
    <div class="col-md-4">
        <div class="thumbnail fixed" onclick="return load_music_list('{% url 'music_box:artist_detail' %}?name={{ artist.name }}')">
            <img class="preview" src="{% if artist.preview %}{{ artist.preview }}{% else %}{% static 'img/banner.png' %}{% endif %}" alt="{{ artist.name }}" />
            <div class="title">{{ artist.name }}</div>
            <div class="cost"><span>Стоимость {{ request.user.price }} р.</span></div>
        </div>
    </div>
{% endfor %}
<div class="clearfix"></div>
<ul class="pager">
    {% if artists.has_previous %}
        <li class="previous"><a href="{% get_params page=artists.previous_page_number %}" onclick="return load_music_list(this.href);">&larr; Назад</a></li>
    {% endif %}

    {% if artists.has_next %}
        <li class="next"><a href="{% get_params page=artists.next_page_number %}" onclick="return load_music_list(this.href);">Вперёд &rarr;</a></li>
    {% endif %}
</ul>