{% load staticfiles %}
{% load main_widgets %}

{% for genre in genres %}
    <div class="col-md-4">
        <a href="#" class="thumbnail fixed" onclick="return load_music_list('{% url 'music_box:genre_detail' genre.pk %}');">
            <img class="preview" src="{% if genre.preview %}{{ genre.preview.url }}{% else %}{% static 'img/banner.png' %}{% endif %}" alt="{{ genre.name }}" />
            <div class="title">{{ genre.name }}</div>
            <div class="cost"><span>Стоимость {{ request.user.price }} р.</span></div>
        </a>
    </div>
{% empty %}
    <div class="col-md-12 text-center text-muted">
        Жанры отсутствуют.
    </div>
{% endfor %}
<div class="clearfix"></div>
<ul class="pager">
    {% if genres.has_previous %}
        <li class="previous">
            <a href="{% get_params page=genres.previous_page_number %}" onclick="return load_music_list(this.href);">&larr; Назад</a>
        </li>
    {% endif %}

    {% if genres.has_next %}
        <li class="next">
            <a href="{% get_params page=genres.next_page_number %}" onclick="return load_music_list(this.href);">Вперёд &rarr;</a>
        </li>
    {% endif %}
</ul>
