{% load staticfiles %}
{% load main_widgets %}

{% for track in tracks %}
    <div class="col-md-2 equal">
        <div class="thumbnail" onclick="return playlist.buy_track(this, {'title':'{{ track.title|escapejs }}', 'artist': '{{ track.artist|escapejs }}'});">
            <img class="preview" src="{% if track.album_preview %}{{ track.album_preview }}{% else %}{% static 'img/banner.png' %}{% endif %}" alt="{{ album.name }}" />
            <div class="caption">
                <div class="caption-line">
                    {{ track.title }}
                </div>
                <div class="caption-line text-muted">
                    {{ track.artist }}
                </div>
                <div class="track-cost">
                    {{ request.user.price }} р.
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-muted text-center">Результатов не найдено.</p>
{% endfor %}
<div class="clearfix"></div>
<ul class="pager">
    {% if tracks.has_previous %}
        <li class="previous">
            <a href="{% get_params page=tracks.previous_page_number %}" onclick="return load_music_list(this.href);">
                &larr; Назад
            </a>
        </li>
    {% endif %}

    {% if tracks.has_next %}
        <li class="next">
            <a href="{% get_params page=tracks.next_page_number %}" onclick="return load_music_list(this.href);">
                Вперёд &rarr;
            </a>
        </li>
    {% endif %}
</ul>



