{% load staticfiles %}
{% load widget_tweaks %}

<form class="form-search" action="" method="GET">
    {% render_field form.search placeholder=form.search.label class="search-query" %}
    <script>
        $('#{{ form.search.auto_id }}').keyboard({
            layout: "russian-qwerty",
            usePreview: false,
            css: {
                input: '',
                container: '',
                buttonDefault: '',
                buttonHover: '',
                buttonAction: 'btn-primary',
                position: 'fixed'
            },

            accepted: function() {
                if($(this).val()){
                    var url = "/music-box/search/?name="+$(this).val();
                    load_music_list(url);
                }

            }

        });
    </script>
</form>