<p>
    {{ machine.update_cash_message }}
</p>

<div class="ui-dialog-buttonset">
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="return machine.give_change();">
        <span class="ui-button-text">Выдать сдачу {{ machine.credit_cash }} рублей.</span>
    </button>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="return machine.convert_credit_to_cash();">
        <span class="ui-button-text">Перенести остаток в кредит</span>
    </button>
</div>