{% load staticfiles %}

<link rel="stylesheet" href="{% static 'layerslider/css/layerslider.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'layerslider/css/skins/glass/skin.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'layerslider/css/skins/v5/skin.css' %}" type="text/css">

<script src="{% static 'layerslider/js/jquery.easing.js' %}"></script>
<script src="{% static 'layerslider/js/jquery.transit-modified.js' %}"></script>
<script src="{% static 'layerslider/js/layerslider.transitions.js' %}"></script>
<script src="{% static 'layerslider/js/layerslider.kreaturamedia.jquery.js' %}"></script>