{% load staticfiles %}

<link rel="stylesheet" href="{% static 'layerslider/css/layerslider.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'layerslider/css/skins/glass/skin.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'layerslider/css/skins/v5/skin.css' %}" type="text/css">

<p class="text-center">
    <button class="btn" onclick="toggle_preview_slider(this, event);" value="run">Запустить предосмотр слайдера</button>
</p>

<!--LayerSlider begin-->
<div id="id_preview-slider">
</div>



<script src="{% static 'layerslider/js/jquery.easing.js' %}"></script>
<script src="{% static 'layerslider/js/jquery.transit-modified.js' %}"></script>
<script src="{% static 'layerslider/js/layerslider.transitions.js' %}"></script>
<script src="{% static 'layerslider/js/layerslider.kreaturamedia.jquery.js' %}"></script>

<script>
    function DjLSConstructor(params) {
        this.name = '';
        this.settings = params.settings || {};
        this.template = params.template || '';
        this.formset_name = params.formset_name||'';
        this.inline_name_prefix ='id_'+this.formset_name+'_set-';
        this.preview_container_id = params.preview_container_id || 'id_preview-slider';
        this.template_textarea_id = params.template_textarea_id||'id_slider_code';
    }

        DjLSConstructor.prototype.update_template = function() {
            var ls_constructor = this;
            var settings = this.settings;
            ls_constructor.name = ls_constructor.get_slider_name('#id_name');
            ls_constructor.template = '<div id="layerslider_'+ls_constructor.name+'" ' +
                    'style="width: '+settings.slider_width+'; ' +
                    'height: '+settings.slider_height+'px;">';

            for(var i=0; i<ls_constructor.get_total_slides(); i++) {
                var layer = new DjLSLayer(ls_constructor.inline_name_prefix+i);
                ls_constructor.template += '<div class="ls-layer" style="transition2d: '+layer.transition+'; slidedelay:'+layer.duration+'; timeshift:'+layer.timeshift+'">';
                ls_constructor.template += '<img class="ls-bg" src="'+layer.image_url+'" alt="layer1-background">';
                ls_constructor.template += '</div>';
            }
            ls_constructor.template += '</div>';
            $('#'+ls_constructor.template_textarea_id).text(ls_constructor.template);
            $('#'+ls_constructor.preview_container_id).html(ls_constructor.template)
        };

        DjLSConstructor.prototype.update_settings = function(key, value) {
            if (key=="slider_width" && value.indexOf('%') < 0){
                value=value+"px";
            }
            if(key=="skin") {
                this.settings["skinsPath"] = "/static/layerslider/css/skins/";
            }
            this.settings[key] = value;
        };

        DjLSConstructor.prototype.get_total_slides = function() {
            return $('#'+this.inline_name_prefix+'TOTAL_FORMS').val();
        };

        DjLSConstructor.prototype.get_slider_name = function(field_selector) {
            return $(field_selector).val();
        };

    function DjLSLayer(inline_name) {
        this.inline_name = inline_name;
        this.image_url = $('#'+this.inline_name+'-image_url').val() || 'default';
        this.duration = $('#'+this.inline_name+'-duration').val() || '4000';
        this.transition = $('#'+this.inline_name+'-transition').val() || '4000';
        this.timeshift = $('#'+this.inline_name+'-time_shift').val() || '0';
    }


    var ls_constructor = new DjLSConstructor({
        formset_name: 'layersliderslides'
    });

    function toggle_preview_slider(elem, event) {
        event.preventDefault();
        if(elem.value == 'run') {
            $(elem).text('Остановить показ');
            ls_constructor.update_template();
            $("#preview-slider").html(ls_constructor.template);
            $("#layerslider_"+ls_constructor.name).layerSlider(ls_constructor.settings);
            elem.value = 'stop';
        } else {
            $(elem).text('Запустить предосмотр слайдера');
            $("#layerslider"+ls_constructor.name).layerSlider('stop');
            elem.value = 'run';
        }
    }

    function read_slider_settings() {
        $('.suit-tab-general input, .suit-tab-general select').each(function(){
            var key = $(this).attr('name');
            var value;
            if ($(this).is(':checkbox')) {
                value = $(this).is(":checked");
            } else {
                value = $(this).val();
            }
            ls_constructor.update_settings(key, value);
        });
    }

    $(".suit-tab-general input, .suit-tab-general select").change(function(){
        read_slider_settings();
        $("#id_configuration").text(JSON.stringify(ls_constructor.settings));
    });

    read_slider_settings();


    function filebrowser_show(event, elem) {
        event.preventDefault();
        var id = $(elem).parent().find('input').attr('id');
        var popup = window.open('/09061984/filebrowser/browse/?pop=1', id, 'height=600,width=960,resizable=yes,scrollbars=yes');
        popup.focus();
    }

    function filebrowser_file_submit(id, file_url, thumb_url, file_type) {
        $("#"+id).val(file_url);
        ls_constructor.update_template();
    }

</script>