{% load suit_tags %}
{% load widget_tweaks %}

<fieldset class="module aligned{{ fieldset.name|yesno:' with-legend, first' }} {{ fieldset.classes }}">
    {% if fieldset.name %}
        <h2 class="legend">{{ fieldset.name }}
            {% if fieldset.description %}
                <span class="description">{{ fieldset.description|safe }}</span>
            {% endif %}
        </h2>
    {% endif %}

    <div class="control-group form-row field-duration {% if fieldset.form.image_url.errors %} {{ singlefield|yesno:'error,first-error' }} errors{% endif %}">
        <div class="control-label">
            {{ fieldset.form.image_url.label_tag }}
        </div>
        <div class="controls">
            {{ fieldset.form.image_url }}
            <a href="#" onclick="filebrowser_show(event, this);">
                Загрузить изображение
            </a>
            <span class="help-inline">
                {{ fieldset.form.image_url.help_text|safe }}
            </span>

        </div>
    </div>

    <div class="control-group form-row field-duration {% if fieldset.form.duration.errors %} {{ singlefield|yesno:'error,first-error' }} errors{% endif %}">
        <div class="control-label">
            {{ fieldset.form.duration.label_tag }}
        </div>
        <div class="controls">
            {{ fieldset.form.duration }}
            <span class="help-inline">
                {{ fieldset.form.duration.help_text|safe }}
            </span>
        </div>
    </div>

    <div class="control-group form-row field-duration {% if fieldset.form.transition.errors %} {{ singlefield|yesno:'error,first-error' }} errors{% endif %}">
        <div class="control-label">
            {{ fieldset.form.transition.label_tag }}
        </div>
        <div class="controls">
            {{ fieldset.form.transition }}
            <span class="help-inline">
                {{ fieldset.form.transition.help_text|safe }}
            </span>
        </div>
    </div>

    <div class="control-group form-row field-duration {% if fieldset.form.time_shift.errors %} {{ singlefield|yesno:'error,first-error' }} errors{% endif %}">
        <div class="control-label">
            {{ fieldset.form.time_shift.label_tag }}
        </div>
        <div class="controls">
            {{ fieldset.form.time_shift }}
            <span class="help-inline">
                {{ fieldset.form.time_shift.help_text|safe }}
            </span>
        </div>
    </div>

</fieldset>
{# For closing line #}
{% if 'plugin-holder' in fieldset.classes %}
  <hr class="plugin-holder-separator">
{% endif %}
