{% load staticfiles %}
{% load main_widgets %}
{% load socketio_tags %}
{% load layerslider_widgets %}
{% socketio %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music Box</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/keyboard.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen" />
    {% endblock %}

    {% if request.user.theme_file %}
        <link rel="stylesheet" type="text/css" href="{{ request.user.theme_file.url }}" media="screen" />
    {% endif %}
    {% block js %}
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>

    <script src="{% static 'js/jquery.keyboard.js' %}"></script>
    <script src="{% static 'js/jquery.keyboard.russsian.js' %}"></script>

    <script src="{% static 'js/jquery.maraque.js' %}"></script>

    <script src="{% static 'js/machine.js' %}"></script>
    <script src="{% static 'js/playlist.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    {% endblock %}

    {% layerslider_scripts_tag %}
</head>
<body>
<div id='content'>
    {% block header %}
    <header class="jumbotron" id="overview">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <br><br>
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                                    <span class="sr-only">Навигация</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="main-navbar">
                                <ul class="nav navbar-nav">
                                    <li class="{% if '/genre/list/' in request.path %}active{% endif %}">
                                        <a href="{% url 'music_box:genre_list' %}" onclick="return load_music_list(this.getAttribute('href'));">
                                            <i class='glyphicon glyphicon-user'></i> Жанры
                                        </a>
                                    </li>
                                    <li class="{% if '/artist/' in request.path %}active{% endif %}">
                                        <a href="{% url 'music_box:artist_list' %}" onclick="return load_music_list(this.getAttribute('href'));">
                                            <i class='glyphicon glyphicon-user'></i> Исполнители
                                        </a>
                                    </li>
                                    <li class="{% if '/album/' in request.path %}active{% endif %}">
                                        <a href="{% url 'music_box:album_list' %}" onclick="return load_music_list(this.getAttribute('href'));">
                                            <i class='glyphicon glyphicon-list'></i>
                                            Альбомы
                                        </a>
                                    </li>
                                    <li class="{% if '/top/list/' in request.path %}active{% endif %}">
                                        <a href="{% url 'music_box:top_tracks_list' %}" onclick="return load_music_list(this.getAttribute('href'));">
                                            <i class='glyphicon glyphicon-music'></i>
                                            Песни
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#" onclick="return false;">
                                            На счету
                                            <span class="cash">{{ request.user.cash }}</span> руб.
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div id="current-song">
                    <div class="col-md-3">
                        <br><br>
                        Сейчас играет:<br />
                        <span id="current-song-title">Deight</span> - <span id="current-song-time">0:00</span><br>
                        <span id="current-song-artist">Deight</span>
                        -
                        <span id="current-song-album">Deight</span><br>

                    </div>
                    <div class="col-md-1">
                        <br><br>
                        <img src="" id="current-song-image">
                    </div>
                </div>

            </div>
        </div>
    </header>
    {% endblock %}


    {% block container %}
    <div class='container'>
        <div class='row'>
            <div class="col-md-9">
                {% search_form_tag %}

                {% block content %}

                {% endblock %}
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body" id="playlist">
                                <p class="empty-playlist">
                                    Плейлист пока пуст.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endblock %}

        {% block footer %}
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        {% endblock %}

    </div>


</div>

</body>

</html>
