{% load gmap_tags %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    {% if not tooltip == 'false' %}
    var lastOpenInfoWin = null;
    function createInfoWindow(marker, key) {
          var infowindow = new google.maps.InfoWindow({
            content: key,
            maxWidth:250
          });
          google.maps.event.addListener(marker, 'click', function() {
            if(lastOpenInfoWin) lastOpenInfoWin.close();
            lastOpenInfoWin = infowindow;
            infowindow.open(marker.get('map'), marker);
          });
    }
    {% endif %}
    function initialize() {
      var geocoder = new google.maps.Geocoder;
      var mapOptions = {
        zoom: {{ zoom }},
        center: new google.maps.LatLng({{ coordinates|first }}),
        zoomControl: {{ zoomControl }},
        disableDoubleClickZoom: {{ disableDoubleClickZoom }},
        scrollwheel: {{ scrollwheel }},
        draggable: {{ draggable }},
        mapTypeControl: {{ mapTypeControl }},
        panControl: {{ panControl }},
        streetViewControl: {{ streetViewControl }}
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
    {% for x in coordinates %}
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng({{ x }}),
              map: map
          });
          {% if not tooltip == 'false' %}
              createInfoWindow(marker, '{{ tooltip_data|gmap_loc:forloop.counter0 }}');
          {% endif %}
    {% endfor %}
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas" style="width:{{ width }};height:{{ height }};"></div>
