{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script>
        var machine = new Machine({
            id: '{{ request.user.id }}'
        });
        var playlist = new Playlist({
            machine: machine
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="thumbnails" id="music-list">
                </div>
            </div>
        </div>
    </div>

    <script>
        load_music_list(window.location.pathname+window.location.search);
    </script>
{% endblock %}
