{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li>
        <a href="permissions/" class="permissionslink">
            <i class="icon-tags icon-alpha75"></i>Права на обьект
        </a>
    </li>
    {{ block.super }}
{% endblock %}
