{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../../../../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if has_change_permission %}<a href="../../../">{{ original|truncatewords:"18" }}</a>{% else %}{{ original|truncatewords:"18" }}{% endif %} &rsaquo;
     {% if has_change_permission %}<a href="../../">{% trans "Object permissions" %}</a>{% else %}{% trans "Object permissions" %}{% endif %} &rsaquo;
     Настройка прав: {{ user_obj|truncatewords:"18" }}
</div>
{% endif %}{% endblock %}


{% block content %}
    <div id="content-main" class="inner-two-columns">
        <form action="" method="post" class="form-horizontal">
            <div class="inner-right-column">
                <div class="box save-box">
                    <input id="submit" type="submit" class="btn btn-high btn-info" value="{% trans "Save" %}"/>
                </div>
            </div>

            <div class="inner-center-column">
                {% csrf_token %}
                <fieldset class="module aligned with-legend">
                    <h2 class="legend">
                        Настройка прав доступа обьекта
                        <span class="text-success">{{ object }}</span>
                        для <span class="text-warning">{{ user_obj }}</span>
                    </h2>
                    {% for field in form %}
                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label for="{{ field.auto_id }}">{{ field.label }}:</label>
                                </div>
                                <div class="controls">
                                    {{ field }}
                                    <span class="help-inline">
                                        {{ field.help_text }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
