body{
    background: #e5e5e5;
    color:#333333;
    height: 100%;
}

a {
    color:#fb8823;
}
    a:hover{
        color:#FFA659;
        text-decoration: none;
    }


.navbar {
    margin-top: 35px;
    margin-bottom: 10px;
}

    .nav-link{
        font-size:16px;
        padding: 8px;
        color:#222;
    }

.jumbotron {
    position: relative;
    background: #f1f1f1 url('../img/banner.png') center top no-repeat;
    background-size:auto 100%;
    padding: 20px 10px 10px 10px;
    margin-top: -20px;
    margin-bottom: 10px;
    color:#fb8823;
    border-bottom:1px solid #ddd;
}

.thumbnail {
    border:1px solid #ddd;
    background: #f1f1f1;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.thumbnail.fixed {
    height: 177px;
}

.thumbnail:hover,
.thumbnail:focus {
    border-color: #fb8823;
    -webkit-box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
    box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
}

    .thumbnail .preview {
        width: 100%;
        height: 120px;
    }

    .thumbnail.fixed .preview {
        width: 100%;
        height: auto;
    }

    .thumbnail .caption-line {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    .thumbnail .cost {
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1.4px;
        line-height: 38px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 128px;

    }

        .thumbnail .cost span {
            color: white;
            background: rgb(0,0,0);
            background: rgba(0,0,0,0.6);
            padding: 10px 7.5px;
        }

    .thumbnail .title {
        font-size: 20px;
        left: 0;
        letter-spacing: 1.4px;
        color: #fb8823;
        line-height: 38px;
        margin-top: 10px;
        position: absolute;
        text-decoration: none;
        top: 0;
        width: 100%;
    }

    .thumbnail .track-cost {
        text-align: right;
        color: #fb8823;
    }


.search-query {
    width:100%;
    background: #f1f1f1;
    border:1px solid #ddd;
    border-radius:0;
    padding:10px;
    color:#555;
    margin-bottom: 10px;
}

#current-song {
    margin-top: 10px;
	text-align: right;
    display: none;
}

#current-song-title,
#current-song-time {
    font-size: 20px;
}

#current-song-image {
    width: 100%;
}

.ajax-overlay {
    top:0;
    position: absolute;
    height: 100%;
    width: 100%;
    background:rgba(238,238, 238,0.5);
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/ajax-loader.gif') no-repeat;
    width: 43px;
    height: 11px;
    display: block;
    margin-top: -6px;
    margin-left: -22px;
}

#playlist {
    padding: 0;
    max-height: 485px;
    overflow-y: auto;
}
    #playlist .empty-playlist {
        line-height: 40px;
        text-align: center;
        color: #777;
    }

    #playlist .track-line-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 30px;
        display: block;
        line-height: 30px;
        padding: 0 15px;
    }

        #playlist .track-line-container:nth-child(2n){
            background-color: #f9f9f9;
        }

        #playlist .track-line-container .track-content {
            top: 0;
            position: absolute;
        }


.modal-dialog-center {
    margin-top: 15%;
}

.pager {
    padding: 0 15px;
    float: left;
    width: 100%;
}

.col-md-2.equal {
    width: 20%;
}